// footer
.footer {
  // 定位在底部
  position: absolute;
  bottom: 1.25rem; // 20px

  &__logo {
    // icon
    .fab {
      font-size: $font-size-lg; // 20px
      color: #666666;

      &:hover {
        color: $primary;
      }
    }
  }

  &__content__year {
    font-size: $font-size-sm; // 14px
  }
}
