.hamburger__bar.d-lg-none.d-flex.justify-content-center.align-items-center
    span.hamburger__bar__btn.jq-hamburger__bar__btn.mb-0.pl-3
        i.fas.fa-bars
    h2.aside__header__logo.mb-0.text-center.h1
        a.d-block.p-2(href='index.html') Bed World