// mixin

// boxSizing
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
}

// 圖片置中
.bg-cover {
  background-size: cover;
  background-position: center center;
}

// 圖片佔滿
.img-fluid {
  max-width: 100%;
  height: auto;
}

// 文字隱藏
.text-hide {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

// 清除浮動
.clearfix {
  clear: both;
}

// 文字垂直
// 輸入 vertical-rl 或 vertical-lr 方向
@mixin text-vertical($direction) {
  writing-mode: $direction;
  -webkit-writing-mode: $direction;
}
