p,
label {
  font-size: $font-size-base * 1.125; // 18px
  font-family: "Work Sans", sans-serif;
  background: #fff;
  color: #859196;
  line-height: 1.8;
  letter-spacing: 0.0625rem; // 1px
}

textarea.form-control,
input[type="text"],
input[type="email"] {
  resize: none; // close textarea resize
  border: 2px solid $gray-400;

  &:focus {
    box-shadow: none;
    border-color: $black;
  }
}

.btn {
  font-size: $font-size-sm;
  padding: 1.25em 1.875rem; // 20px 30px
  letter-spacing: .1rem; // 1.6px
}

// * {
//   outline: 1px solid red;
// }