// Bootstrap
// media-breakpoint-only (min-width and max-width)
// media-breakpoint-up (min-width)
// media-breakpoint-down (max-width)

// lg: 992px, xl: 1200px
// xs: 0px, sm: 576px, md: 768px
.card-columns {
    @include media-breakpoint-down(md) {
      columns: 2; // 分成多少欄位
    }
  
    @include media-breakpoint-down(sm) {
      columns: 2;
    }
  
    @include media-breakpoint-down(xs) {
      columns: 1;
    }
  }